[user]
  name = Fergus Ruston
  email = fergus.ruston@gmail.com

[core]
  editor = nvim

[push]
  # default --set-upstream branch to the same name as local branch
  default = current

[submodule]
  recurse = true
