[user]
  name = Fergus Ruston
  email = fergus.ruston@gmail.com

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  pager = delta

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[submodule]
  recurse = true

[init]
  defaultBranch = main

[commit]
  verbose = true

[interactive]
  diffFilter = delta --color-only

[delta]
  interactive = true

[merge]
  conflictstyle = diff3

[branch]
  sort = -committerdate

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
