[user]
  name = Fergus Ruston
  email = fergus.ruston@nearform.com

[core]
  editor = nvim
  excludesfile = ~/.gitignore

[push]
  # defaults --set-upstream branch to the same name as local branch
  default = current

[submodule]
  recurse = true
