[submodule "vim/config"]
	path = vim/config
	url = https://github.com/ergusto/.vim
[submodule "lib/dotbot"]
	path = lib/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "lib/zsh-pure"]
	path = lib/zsh-pure
	url = https://github.com/sindresorhus/pure.git
[submodule "lib/zsh-syntax-highlighting"]
	path = lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "lib/zsh-spaceship-prompt"]
	path = lib/zsh-spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "lib/dotbot-brewfile"]
	path = lib/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
