[submodule ".vim"]
	path = .vim
	url = https://github.com/ergusto/.vim.git
[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/themes/spaceship-prompt"]
	path = .oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "vim-color-atlantis"]
	path = .vim/plugged/vim-color-atlantis
	url = https://github.com/ergusto/vim-color-atlantis
